@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("background.jpg");
}
nav{
    display: flex;
    justify-content: space-between;
}

.button{
    background: rgb(30, 66, 48);
    padding: 5px 20px;
    color: rgb(187, 172, 172);
    border-radius: 9px;
    box-shadow: none;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

nav img{
    height: 50px;
    margin: 0px 50px;
    padding: 30px;
}
nav ul{
    margin: 5vh 10vw;
    display: flex;
    flex-direction: row;
    /* align-items: flex-end; */
    justify-content: flex-end;
}

nav ul li{
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
    font-family: 'Nunito', sans-serif;
}

nav ul li button{
    margin: -5px;
}



.container{
    display: inline-block;
    width: 40vw;
    line-break: normal;
    padding: 200px;
}

.container h1,h3,p{
    font-family: 'Nunito', sans-serif;
}

